.App{

  background-position: fixed;
  background-repeat:repeat;
  background-size: cover;
  background-color: #5d0202;
 
  padding-top: 5%;
  min-height: 100vh;
  
  
}
.logo{
  width: 100px;
}
.navbar{
  background-color: #111 !important;
  color: #e6caca;
}


.cr{
  border-radius:100%  !important;
}

.num{
  margin: 0 auto;
}

